
@media screen and (max-width: 992px) {

	.main-table tbody tr td:nth-child(1):before {
		content: "#";
	}
	.main-table tbody tr td:nth-child(2):before {
		content: "";
	}
	.main-table tbody tr td:nth-child(3):before {
		content: "Tip";
	}
	.main-table tbody tr td:nth-child(4):before {
		content: "Odpověď";
	}
	.main-table tbody tr td:nth-child(6):before {
		content: "Akce";
	}

}
