@default-font-color: rgba(244,244,245,.6);
@heading-font-color: rgba(244,244,245,.9);
@background-color1: #333867;
@background-color2: #17193b;
@data-table-color: #30314e;
@input-bg-color: #040620;
@btn-color: #474d84;
@row-edit-color: #2477ff;
@row-delete-color: #db2a34;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700);.headerLink[data-v-4dca3ff8] {
    width: 100%;
    overflow-x: hidden
}

html {
    font-weight: 100;
    font-size: 14px
}

body, html {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background: radial-gradient(farthest-side ellipse at 10% 0,@background-color1,@background-color2);
  color: @default-font-color;
  font-weight: 300;
  font-size: 1rem;
}

.btn {
  color: @heading-font-color;
  background-color: @btn-color;
  border: 0 !important;
}

.editing {
  animation-name:edit-tran;
  animation-duration: 1s;
  animation-delay: 0;
}
@keyframes edit-tran {
  0%   {background-color:@row-edit-color; color:@heading-font-color;}
  100% {background-color:inherit; color:@heading-font-color;}
}
.deleting {
  animation-name:delete-tran;
  animation-duration: 1s;
  animation-delay: 0;
}
@keyframes delete-tran {
  0%   {background-color:@row-delete-color; color:@heading-font-color;}
  100% {background-color:inherit; color:@heading-font-color;}
}
.btn:hover {
  color: @default-font-color;
  background-color:@background-color2;
}

h1 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.75rem;
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6 {
  color: @heading-font-color;
}

nav {
  padding: 2.85rem 2.85rem 3.85rem;
  line-height: 60px;

  li {
    list-style-type: none;
   }
}
.content{
  position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 1.85rem 2.85rem 3.85rem;
}
.data-table {
  background-color: @data-table-color;
  border-radius: .3rem;
  padding: 1rem;
  color: @default-font-color !important;

  .form-inline {
    max-width: 400px;
    margin-bottom: 1rem;
    float: right;

    input {
      background-color: inherit;
      border: 0;
      color: @heading-font-color;

    }
  }

  .input-group-text {
    background-color: inherit;
    border: 0;
    height: 100%;
  }

  .input-group, .form-control {
    background-color: @input-bg-color;
    border-radius: 1rem;
  }

  table {
    width: 100%;
    margin-bottom: 1rem;
    font-size: .875rem;
    tr {
      vertical-align: bottom;
      border-bottom: 1px solid #040620;
    }
    thead tr th{
      padding: .75rem;
      border-top: none!important;
      border-bottom-width: 1px!important;
      text-transform: uppercase;
      font-weight: 600;
    }
    td {
      padding: .75rem;
    }
    &:not(caption)>*>*{
      padding:.5rem .5rem;
    }
  }
}

.input-group>.form-control:focus {
    .input-group-text{
      color: @heading-font-color;
    }
    outline: 0 none;
  }
.navbar-light .navbar-nav .nav-link {
  color: @heading-font-color !important;
}

.form-control:focus {
  border: 0;
  box-shadow: none;
}

.input-group:focus-within .input-group-prepend .input-group-text,
.input-group:focus-within .form-control {
  color: @heading-font-color;
}
.modal-content {
  background-color: @data-table-color;

  .form-inline {
    max-width: 400px;
    margin-bottom: 1rem;
    float: right;

    input {
      background-color: inherit;
      color: @heading-font-color;
    }
  }
  .input-group-text {
    background-color: inherit;
    border: 0;
    height: 100%;
    color: @default-font-color;
  }
  .input-group-prepend {width: 116px;}

  .input-group{margin: .5rem 0;}

  .input-group, .form-control {
    background-color: @input-bg-color;
    border-radius: 1rem;
    color: @default-font-color;
    border: 0;
  }
}
.modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - (1.75rem * 2));
}
.close {
  box-sizing: content-box;
  filter: invert(1) grayscale(100%) brightness(200%);
}
#publishing_date {
  width: 1px;
  visibility: hidden;
}
#publishing_date__value_ {
  margin-left: -1rem;
}
#publishing_date__outer_{
  margin: 0!important;
}

#modal-btns{
  margin-top: 2rem;
}

.modal-header {
  border-bottom: 0;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.top-players{
  border-radius:2px;
  background:#474d84;
  box-shadow: rgb(50 50 50 / 45%) 0px 0px 6px 2px;
  height: 178px;
  width: 276px;
  padding:20px 10px;
  float:right;
  box-sizing: border-box;

  .fa-trophy:nth-child(1){
    color: #ffd700;
  }

  .fa-trophy:nth-child(2){
    color: #C0C0C0;
  }
  .fa-trophy:nth-child(3){
    color: #CD7F32;
  }
}