@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700);

.headerLink[data-v-4dca3ff8] {
	 width: 100%;
	 overflow-x: hidden;
}
 html {
	 font-weight: 400;
	 font-size: 16px;
}
 body, html {
	font-family: 'Encode Sans', sans-serif !important;
	 padding: 0;
	 margin: 0;
	 min-height: 100vh;
	 overflow-x: hidden;
}
 body {
	 background: #F7F7F7;
	 color: black;
	 font-weight: 400;
	 font-size: 1rem;
}
nav {
	background-color: #52438F;
}

h1 {
	color:white;
	background: black;
	padding: 20px;
	width: fit-content;
	font-weight: 700;
	text-align: center!important;
}

#btn-modal-agree {
  background-color: #52438F;
  color:white;
}

#modal-btns {
  margin-top: 20px;
}
.input-group-text {
  background: inherit;
  border: 0;
  padding: 0;
}

.container-table100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 33px 30px;
}

.wrap-table100 {
	width: 1170px;
}

.main-table {
	font-family: 'Encode Sans', sans-serif;
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.main-table * {
	position: relative;
}
.main-table td, table th {
	padding-left: 8px;
}
.main-table thead tr {
	height: 60px;
	border-bottom: #bdbdbd solid 1px;
}
.main-table tbody tr {
	height: 50px;
}
.main-table tbody tr:last-child {
	border: 0;
}

.table100-head th{
	line-height: 1.2;
	font-weight: unset;
}

tbody tr {
	color: #808080;
	line-height: 1.2;
	font-weight: unset;
}

tbody tr:hover {
	color: #555555;
	background-color: #f5f5f5;
	cursor: pointer;
}

.column1 {
	width: 60px;
	padding-left: 40px;
	text-align: center;
}

.column2 { width: 60px; }

.column3 { width: 245px; }

.column4 {
	width: 110px;
	text-align: right;
}

.column5 {
	width: 170px;
	text-align: right;
}

.column6 {
	width: 160px;
	text-align: right;
	padding-right: 62px;
}
.column6 button:hover {
	color:#555555;
}


@media screen and (max-width: 992px) {
	.main-table { display: block; }
	.main-table > *, table tr, table td, table th {
		display: block;
	}
	.main-table thead { display: none; }
	.main-table tbody tr {
		height: auto;
		padding: 37px 0;
	}
	.main-table tbody tr:nth-child(even) {background: rgb(244, 244, 244)}
	.main-table tbody tr td {
		padding-left: 40% !important;
		margin-bottom: 24px;
	}
	.main-table tbody tr td:last-child { margin-bottom: 0; }
	.main-table tbody tr td:before {
		font-family: 'Encode Sans', sans-serif;
		font-size: 14px;
		font-weight: 600;
		color: #000000;
		line-height: 1.2;
		font-weight: unset;
		position: absolute;
		width: 40%;
		left: 30px;
		top: 0;
	}

	.column4,
	.column5,
	.column6 {
		text-align: left;
	}

	.column4,
	.column5,
	.column6,
	.column1,
	.column2,
	.column3 {
		width: 100%;
	}

	tbody tr { font-size: 14px; }
}

@media (max-width: 576px) {
	.container-table100 {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/*
	SIDEBAR TOP
*/
.top-players{
	border-radius:2px;
	background:white;
	-webkit-box-shadow: 0px 0px 10px -3px #000000;
	box-shadow: 0px 0px 10px -3px #000000;
	height: 278px;
	width: 276px;
	padding:20px 10px;
	box-sizing: border-box;
	position: fixed;
	top:50%;
	right: 0;
}
.top-players .row:nth-child(1) .fa-trophy{ color: #ffd700; }
.top-players .row:nth-child(2) .fa-trophy{ color: #C0C0C0; }
.top-players .row:nth-child(3) .fa-trophy{ color: #CD7F32; }

#stats-button {
	transform: translate(-50%,0);
    margin-left: 50%;
}

#switch-sticky-sidebar { color: white; }

.isSide { right: -218px; }
.isSideArrow i { color:black; }