
#add-btn {
	background-color: #f8f9fa;
	color: black;
}

@media screen and (max-width: 991px) {
	.nav-item { text-align: center; }
	#add-btn  { margin-bottom: 10px; }
	#los-btn  { margin-left: 0!important; }
}


@media screen and (max-width: 992px) {
	.main-table tbody tr td:nth-child(1):before {
		content: "#";
	}
	.main-table tbody tr td:nth-child(2):before {
		content: "";
	}
	.main-table tbody tr td:nth-child(3):before {
		content: "Tip";
	}
	.main-table tbody tr td:nth-child(4):before {
		content: "Správná odpověď";
	}
	.main-table tbody tr td:nth-child(5):before {
		content: "Možné odpovědi";
	}
	.main-table tbody tr td:nth-child(6):before {
		content: "Akce";
	}
}

/*
	NEW TIP
*/
.new-tip-form {	margin-top: 10px; }

/*
	LOSOVANI
*/
#winner {
	border-radius: 0;
	margin-bottom: 10px;
}
#winner td{
	min-width: 155.33px;
	max-width: 155.33px;
	width: 155.33px;
	text-align: center;
	font-weight: 700;
	cursor: auto;
}
#winner tr { height: 40px;}
#winner tr:hover { background-color: inherit;}

#prvni { background-color: #ffd700; }
#druhy { background-color: #C0C0C0; }
#treti { background-color: #CD7F32; }

#prvni-text { color: #ffd700; }
#druhy-text { color: #C0C0C0; }
#treti-text { color: #CD7F32; }

#los-btn { margin-left: 10px; }

#draw-button {
	transform: translate(-50%,0);
    margin-left: 50%;
}
